<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hasil</title>
</head>
<body>
<h1>Result</h1>
<p th:text="${GanjilGenap.getHasil()}"></p>
</body>
</html>